main {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80px;
}
.hero-img {
  width: 948px;
  height: 1000px;
  transform: rotate(0deg);
}

.hero-content-container {
  position: absolute;
  left: 1121px;
  top: 152px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.registration-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  height: 63px;
  padding: 0;
}
